@{
    ViewData["Title"] = "IP Checker";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/Ip.js"></script>
</head>
<body>
    <h1>Your IP Address:</h1>
    <p id="ip-address">Loading...</p>
</body>
</html>